data*.json
firefox-delta*.json
firefox-delta-count.json
firefox-failing*.json
chrome-failing*.json
chromeBidiOnly-failing*.json
chrome-cdp-failing*.json
dist

# Installed npm modules
node_modules

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
